*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Acme;
    src: url(/Font/Acme-Regular.ttf);
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    font-family: Acme;
}
.head > h1{
    text-align: center;
    font-size: 50px;
    color: rgb(229, 49, 112);
    margin: 50px 0;
}
.head > p{
    text-align: center;
}
.container{
    width: 100%;
    margin: 50px 0;
}
/* .debug{
    border: 2px solid black;
} */
.clearfix::after{
    clear: both;
    content: "";
    display: table;
}
.cards{
    float: left;
    width: calc((100% - 100px) / 3);
    height: 100%;
    margin-bottom: 40px;
    margin-left: 40px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);;
}
article:nth-child(3n +1){
    margin-left: 0px;
}
.profile-pic{
    height: 130px;
    width: 130px;
    display: inline-block;
    float: left;
}
.profile-pic > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.description{
    display: inline-block;
    background-color: black;
    color: white;
    width: calc(100% - 130px);
    height: 130px;
    float: left;
}
.description > h2,p,a{
    padding: 10px;
}
.blue{
    color: rgb(113, 197, 206);
}
