*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}
.container{
    width: 100%;
}
.debug{
    border: 2px solid black;
}
.clearfix::after{
    clear: both;
    content: "";
    display: table;
}
.cards{
    float: left;
    width: calc(100% / 3);
    height: 100%;
}
.profile-pic{
    height: 120px;
    width: 120px;
    display: inline-block;
    float: left;
}
.profile-pic > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.description{
    display: inline-block;
    background-color: black;
    color: white;
    width: calc(100% - 120px);
    height: 120px;
    float: left;
}
